{% extends 'base.html' %}

{% block head %}
<title>SecureMe - Educational Resources</title>
{% endblock %}

{% block body %}
<div class="content-container">
    <div class="content-item-small">
        <h2>Educational Resources</h2>
    </div>

    <div class="content-item">
        <ul>
            <li><a href="https://www.uscyberpatriot.org/" target=”_blank”>Cyber Patriot</a>: Great goverment cyber security youth program.</li><br>
            <li><a href="https://staysafeonline.org/" target=”_blank”>National Cybersecurity Alliance</a>: Very secure web browser, but not over top, allowing it to still be very useable.</li><br>
        </ul>
    </div>

    <!-- footer -->
    <div class="content-item-small">
        <p>If you would like to contact the creator of this site, do so at <i>jhaas0953@gmail.com</i>.</p>
    </div>
</div>
{% endblock %}