{% extends 'base.html' %}

{% block head %}
<title>SecureMe - Podcasts and Media</title>
{% endblock %}

{% block body %}
<div class="content-container">
    <div class="content-item-small">
        <h2>Podcasts and Media</h2>
    </div>

    <div class="content-item">
        <ul>
            <li><a href="https://darknetdiaries.com/" target=”_blank”>Darknet Diaries</a>: Excelent hacker news podcast, you can learn a ton from it, <strong>but beware of some adult themes (online drug markets, etc.) but it has warnings in the beginning of said episodes.</strong></li><br>
            <li><a href="https://adamlevin.com/what-the-hack/" target=”_blank”>What the Hack with Adam Levin</a>: Great podcast about scams and identity theft, with some great accompanying humour.</li><br>
        </ul>
    </div>

    <!-- footer -->
    <div class="content-item-small">
        <p>If you would like to contact the creator of this site, do so at <i>jhaas0953@gmail.com</i>.</p>
    </div>
</div>
{% endblock %}