{% extends 'base.html' %}

{% block head %}
<title>SecureMe - Credential Text</title>
{% endblock %}

{% block body %}
<div class="content-container">
    <div class="content-item-small">
        <h2>Credential Security</h2>
    </div>

    <div class="content-item":>
        <p>	No matter what you’re doing online, you will always end up having to make an account somewhere.
             Over time you will most likely have dozens of different accounts of different websites, 
             all over the web, and the <span class="tooltip">credentials<span class="text">Your username/password 
             for a site or application.</span></span> you use to protect these accounts will be the primary 
             protection for what you do on these sites. This is why making sure you have proper credentials, and 
             protection of them, is one of the most important topics in personal security on the internet.</p>
    </div>

    <div class="content-item":>
        <p>The first step you should take when it comes to making sure that your credentials are secure is to have strong passwords. 
            It can seem super easy to just reuse an easy to type password for all your accounts, but this is actually a massive 
            <span class="tooltip">vulnerability<span class="text">A part of your security that is weaker than other 
            parts, making it easy to exploit.</span></span>. Just like having an easy password that you reuse all the time can make it easy for you to use it, 
            it also makes it easy for any <span class="tooltip">bad actors<span class="text">People on the internet who have malicious 
            intention/undertake malicious action.</span></span> to do so.</p>
    </div>

    <div class="content-item":>
        <p>When it comes to making passwords, generally you want to make them as complex as possible. Avoid really common 
            passwords in general, like “password”, but in general you should actually try to have no words, but rather a combination 
            of characters, digits, and <span class="tooltip">special symbols<span class="text">Characters that aren't
            digits or letters, like ^.</span></span>. This offers good protection against a lot of password cracking methods, like 
            <span class="tooltip">brute forcing<span class="text">A method of cracking passwords through guessing over 
            and over again, usually through a software.</span></span>, the use of <span class="tooltip">dictionary password cracking
            <span class="text">A method of cracking passwords through guessing using a big document of words.</span></span>, and so on. Examples 
            of this would be “j[nU&P(m1#G0[5m”, or “Xq]OK;:ZZ`}q5kt”.</p>
    </div>

    <div class="content-item":>
        <p>Of course, it isn’t always necessary to use these ultra-complex passwords, even though it would be good practice. 
            If the account you’re setting up doesn’t hold any vital information like bank accounts, or is for something that you just don’t 
            really care about, then you don’t have to go to such extremes. Of course, when it does come to important things, it is a very good idea to 
            maintain this complexity.</p>
    </div>

    <img src="{{ url_for('static', filename='assets/images/cred_security_stock.webp') }}" alt="Image of lock in a sci-fi landscape" width="450" height="450">

    <div class="content-item":>
        <p>Of course, also keep in mind that just because you have such a complex password, you still can’t reuse it. If you 
            reuse it and the password gets cracked, then the person who cracked it now has access to not only that account but 
            all the ones that share the same password. In general you should have a completely different password for each 
            website you visit, even having a password and then adding the website at the end of it like Xq]OK;:ZZ`}q5kt-LinkedIn is not a secure choice.</p>
    </div>

    <div class="content-item":>
        <p>Sharing passwords, by accident or on purpose, is also never a good idea. Everyone gets <span class="tooltip">spam<span class="text">
            Unwanted/malicious email or communication that tries to get information out of a user or sell something.</span></span> email/texts that 
            have links to sites, and these often try to get you to enter your password for a site into a fake one. These can 
            be pretty hard to avoid, but you should also never share your password for any accounts with anyone intentionally 
            either, particularly if you don’t know them in real life. In these cases especially, you don’t know the other person's 
            intentions. Never open emails/use websites to enter your password unless you are absolutely sure it is the site 
            you think it is (check the <span class="tooltip">URL<span class="text">
                Uniform Resource Locator, what you put into your search bar.</span></span>
            , link, but this will all be covered later.)</p>
    </div>

    <div class="content-item":>
        <p>When it comes to dealing with all these complex passwords, it can become pretty challenging. Luckily, we have access to 
            tools called <span class="tooltip">password managers<span class="text">Software, usually in the form of 
            browser extensions, that help with handling passwords.</span></span>, which makes this a lot easier. They work by storing all your passwords on your device, 
            and auto filling them during sign in, so you don’t have to remember them. Most modern  browsers come pre equipped with them, 
            but if you don't like those you can also purchase access to some other ones.</p>
    </div>


    <div class="content-item-small">
        <h2>🎉 Congrats 🎉</h2>
        <p>You have finished this chapters content! Continue below to take the quiz.</p>
        <a href="{{ url_for('credentialQuiz') }}">
            <button type="button" class="button">
                Start Quiz
            </button>
        </a>
    </div>

    <!-- footer -->
    <div class="content-item-small">
        <p>If you would like to contact the creator of this site, do so at <i>jhaas0953@gmail.com</i>.</p>
    </div>
</div>
{% endblock %}