{% extends 'base-no_logout.html' %}

{% block head %}
<title>SecureMe - Credential Quiz</title>
{% endblock %}

{% block body %}
<div class="content-container">
    <div class="content-item-small">
        <h2>Credential Security Quiz</h2>
    </div>

    <!-- quiz form (autocomplete set to off to prevent cheating) -->
    <form class="quiz-form" action="#" method="post" autocomplete="off">
        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" /> 
        <div class="quiz-question">
            <p>Why should you use strong passwords?</p>
            <!-- label makes it that the internal text also counts as a detector for the radio button -->
            <label class="quiz-question-option">
                    <input type="radio" name="question1" class="quiz-button" value="a">
                    <p>To make account credentials for websites easier to remember</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question1" class="quiz-button" value="b">
                <p>To have stronger credential security</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question1" class="quiz-button" value="c">
                <p>To make logging into accounts easier</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question1" class="quiz-button" value="d">
                <p>To share said passwords with friends</p>
            </label>
            <br>
        </div>

        <div class="quiz-question">
            <p>Which of the following passwords are the strongest?</p>
            <label class="quiz-question-option">
                <input type="radio" name="question2" class="quiz-button" value="a">
                <p>tNkHQ=d}mE"S&Sx</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question2" class="quiz-button" value="b">
                <p>banana2</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question2" class="quiz-button" value="c">
                <p>password</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question2" class="quiz-button" value="d">
                <p>drowssap@895</p>
            </label>
            <br>
        </div>

        <div class="quiz-question">
            <p>Why is reusing passwords for different accounts bad?</p>
            <label class="quiz-question-option">
                <input type="radio" name="question3" class="quiz-button" value="a">
                <p>It makes accounts easier to easier to login to</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question3" class="quiz-button" value="b">
                <p>It makes it harder to remember all the passwords</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question3" class="quiz-button" value="c">
                <p>Bad actors can more easily get into multiple accounts</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question3" class="quiz-button" value="d">
                <p>It makes recovering your passwords harder</p>
            </label>
            <br>
        </div>

        <div class="quiz-question">
            <p>Which of the following rules are best for creating/maintaining strong credentials?</p>
            <label class="quiz-question-option">
                <input type="radio" name="question4" class="quiz-button" value="a">
                <p>Make your password a complex series of digits, characters, and special characters</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question4" class="quiz-button" value="b">
                <p>Make passwords that are easy to type out</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question4" class="quiz-button" value="c">
                <p>Use common phrases, like “password”</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question4" class="quiz-button" value="d">
                <p>Use the same passwords across multiple accounts</p>
            </label>
            <br>
        </div>

        <div class="quiz-question">
            <p>In what scenario is it ok to use simpler passwords?</p>
            <label class="quiz-question-option">
                <input type="radio" name="question5" class="quiz-button" value="a">
                <p>For important accounts</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question5" class="quiz-button" value="b">
                <p>Social media accounts</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question5" class="quiz-button" value="c">
                <p>Never, you should always use the strongest possible passwords</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question5" class="quiz-button" value="d">
                <p>For accounts that don’t hold any vital information</p>
            </label>
            <br>
        </div>

        <div class="quiz-question">
            <p>What’s the main reason to use a password manager?</p>
            <label class="quiz-question-option">
                <input type="radio" name="question6" class="quiz-button" value="a">
                <p>It holds all your credentials to automatically use when signing in</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question6" class="quiz-button" value="b">
                <p>It automatically creates passwords for you</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question6" class="quiz-button" value="c">
                <p>It allows you to share your password with your friends easily</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question6" class="quiz-button" value="d">
                <p>It makes it that you can access all of your accounts with a single password</p>
            </label>
            <br>
        </div>

        <div class="quiz-question">
            <p>What is the main use of two-factor authentication, otherwise known as 2FA?</p>
            <label class="quiz-question-option">
                <input type="radio" name="question7" class="quiz-button" value="a">
                <p>It allows you to reset all of your passwords using your email if you forget them</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question7" class="quiz-button" value="b">
                <p>It gets rid of the need for passwords</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question7" class="quiz-button" value="c">
                <p>It creates another layer of verification for your account, usually done through your mobile device</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question7" class="quiz-button" value="d">
                <p>It makes it that all of your accounts can be accessed with a single password</p>
            </label>
            <br>
        </div>

        <div class="quiz-question">
            <p>Why should you never share your passwords with other  people?</p>
            <label class="quiz-question-option">
                <input type="radio" name="question8" class="quiz-button" value="a">
                <p>It makes logging in more difficult</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question8" class="quiz-button" value="b">
                <p>You can’t trust other people's intentions with your credentials</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question8" class="quiz-button" value="c">
                <p>It can make account recovery a lot easier</p>
            </label>
            <label class="quiz-question-option">
                <input type="radio" name="question8" class="quiz-button" value="d">
                <p>It can create password fatigue (having too many passwords to manage)</p>
            </label>
            <br>
        </div>

        <div class="content-item-small">
            <h2>Submit</h2>
            <p>You have come to the end of the quiz! Continue below to see your score.</p>
            <button type="submit" class="button">Submit Quiz</button>
        </div>
    </form>

    <!-- footer -->
    <div class="content-item-small">
        <p>If you would like to contact the creator of this site, do so at <i>jhaas0953@gmail.com</i>.</p>
    </div>
</div>
{% endblock %}